<%%= render_page_title "#{@<%= class_name.split('::').last.underscore.downcase %>.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{t('model.list', :model => <%= class_name.split('::').last %>.model_name.human)}",
    url: <%= class_name.split('::').last.underscore.downcase.pluralize %>_path,
    options: {class: 'button'}
  }
end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        属性
      </th>
      <th>
        值
      </th>
    </tr>
  </thead>
  <tbody>
    <% attributes.each do |attribute| -%>
    <tr>
      <td>
        <%%= t('activerecord.attributes.<%= class_name.split('::').last.underscore.downcase %>.<%= attribute.name %>') %>
      </td>
      <td>
        <%%= <%= class_name.split('::').last.underscore.downcase %>.<%= attribute.name %> %>
      </td>
    </tr>
    <% end -%>
  </tbody>
  <tfoot>

  </tfoot>
</table>
